<div class="modal<%= ' modal--open' if local_assigns.fetch(:open, false) %>" id="loginModal" data-modal-target="loginModal">
  <div class="modal__content">
    <div class="modal__header">
      <h3 class="modal__title">Log In to SayZen</h3>
      <button class="modal__close-button" id="closeLoginModal" data-action="click->modal#close">
        <svg class="modal__close-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
      </button>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
      <%= render "devise/shared/login_form_errors", resource: resource %>
      <div class="form__group">
        <%= f.label :email, "Email Address", class: "form__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input", placeholder: "you@example.com" %>
      </div>

      <div class="form__group">
        <%= f.label :password, class: "form__label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form__input", placeholder: "••••••••" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form__group form__group--checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form__group">
        <%= f.submit "Log In", class: "btn btn--primary btn--md" %>
      </div>
    <% end %>
    <p class="form__footer-text">
      Don't have an account? <button class="form__footer-link" id="switchToSignup" data-action="click->modal#switch">Sign up</button>
    </p>
  </div>
</div>